*,*::before,*::after{ margin:0; padding:0; box-sizing:inherit; }
html{ box-sizing:border-box; }

.wrap{
    position: relative;
    max-width:100%; min-height:100vh;
    background-image:
        linear-gradient(rgba(126, 42, 103, 0.85),rgba(55,55,95,.85)),
        url(images/ct.jpg);
    color:rgb(235,235,235);
    text-align:center;
    overflow:hidden;
}
.wrap a,.wrap a:visited{ text-decoration:none; color:inherit; }
.wrap ul,.modal ul{list-style-type:none;}
.wrap select{
    font-size:1rem;
    width:300px;
    margin-top:1rem;
    /* color:rgb(65,65,65); */
    background-color:white;
    border-color:none;
}
#search,.form-btn{
    font-size:1rem;
    width:300px;
    padding:5px 10px;
    border-radius:7px;
    margin-top:1rem;
}
#search{border:none;}

.wrap h1{
    font-family:'Pacifico',cursive; font-size:4.5rem; line-height:1.25; letter-spacing:4px;
    color:rgba(255,255,255,.6);
}
.neon{text-shadow:0 0 2px pink,0 0 5px pink,0 0 15px pink;}
.wrap__form{margin-top:2rem;}

.wrap__alert{
    margin-top:2rem;
}

.wrap__result{
    width:100%;
    padding:3rem 2rem;

    grid-template-columns:repeat(4,1fr);
    grid-gap:1.25rem;
}

.wrap__result > *, .favorites-content{font-size:1rem;font-family: 'Ubuntu Condensed', sans-serif;}
.wrap__form-input > *{ display:block; white-space:nowrap; margin:0 auto; }
.wrap__form-categories{margin-top:2rem;}
.wrap__form-categories > *{ display:block; white-space:nowrap; margin:0 auto; }
label[for]{font-family:'Permanent Marker',cursive; font-size:2rem;letter-spacing:2px;}

nav{
    color:rgb(235,235,235);
    position:fixed;
    top:1.5rem; right:1rem;
    z-index:202;
}
nav>a{
    color:inherit; text-decoration:none;font-family: 'Ubuntu Condensed', sans-serif;
    font-size:1.75rem;
    border:3px solid white;
    background-color:rgba(157, 63, 160, 0.8);
    padding:5px 15px;
}


.query-result,.favorites-content__drink{
    padding:1.75rem 1.5rem;
    border:3px solid white;
    border-radius:7px;
    background-color:rgba(235,235,235,.3);
    position: relative;
}
.query-result__img,.favorites-content__drink img{width:100%;border:3px solid white;}

.danger{
    display:inline-block;
    font-family: 'Ubuntu Condensed', sans-serif;
    width:300px;
    color:rgb(185, 30, 30);
    background-color:rgba(235,235,235,.6);
    padding:12px 0;
    border:3px solid white;
    font-size:1.5rem;
}

.modal{
    font-family: 'Ubuntu Condensed', sans-serif;
    display:none;
    position:fixed; top:0; left:0;
    width:100%; height:100vh;
    background-color:rgba(0,0,0,.9);
}
.modal__content{
    width:70%;
    background-color:white;
    position:absolute; top:50%; left:50%;
    transform:translate(-50%,-50%);
    padding:2rem;
    border-radius:5px;
}
.modal__content-left{
    width:50%;
    float:left;
    padding-right:1rem;
}
.modal__content-right{
    width:50%;
    float:left;
    padding-left:1rem;
}
.modal__content-title{font-size:2.25rem; padding-bottom:1rem;}
.modal__ingre,.modal__prep{font-size:1.25rem;}
.modal__ingre{padding-bottom:1rem;}
.modal__prep{padding:1rem 0 .5rem 0;}
.modal__content-img{width:100%;}
.modal__content-description{line-height:1.5;}
.close-x{
    display:inline-block;
    font-size:1.25rem; color:rgb(179, 60, 60);
    border-bottom:2px solid rgb(179, 60, 60);
    position:absolute; top:.25rem; right:.5rem;
    text-decoration:none;
}

.fav-neon{padding:3rem 0 1rem 0;}
.favorites-content{
    padding:3rem 2rem;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:1.25rem;
}
.favorites-content__drink>h2{font-size:1.75rem;padding-bottom:.5rem;}
.fav-view{padding:5px 0;}

.instr,.ingre{
    display:inline-block;
    margin:10px 0 5px 0;
    border-bottom:2px solid white;
}
.query-result__name,.favorites-content__drink>h2{margin:3px;}
.query-result__badge{margin:3px 0 10px 0;}
.query-result__img{border:3px solid white;}
.query-result__instructions{line-height:1.25;}
.query-result__ingredients li{margin:3px;}

.add-to-fav{
    display:inline-block;
    border:none; border-radius:50%;
    background-color:rgb(48, 194, 194);
    color:white;

    font-size:1.5rem; line-height:1.5;
    padding:0 10px;
    position: absolute; top:10px; right:10;
}

.query-result__name{padding:1rem 0;}
.get-recipe{display:block;padding-top:1rem;}
.get-recipe,.remove-recipe{font-size:1.2rem;}

@media(max-width:1200px){
    .wrap__result{grid-template-columns:repeat(3,1fr);}
}
@media(max-width:980px){
    .favorites-content{grid-template-columns:repeat(3,1fr);}
}
@media(max-width:900px){
    .wrap__result{grid-template-columns:1fr;text-align:left;}
    .query-result__img{display:inline-block;width:40%;float:left; margin-right:1rem;}
    .instr{margin-top:0;}
    .ingre{display:block;text-align:center;border-bottom:none;margin-top:1rem;}
    .query-result__ingredients{text-align:center;width:55%;float:right;}
    .wrap{padding-bottom:5rem;}
}
@media(max-width:725px){
    .favorites-content{grid-template-columns:repeat(2,1fr);}
}
@media(max-width:575px){
    nav{top:unset;right:unset;bottom:0;left:0;margin:1rem .5rem;width:100%;}
}
@media(max-width:550px){
    .query-result__img{width:100%;}
    .query-result__ingredients{text-align:center;width:100%;float:unset;}
}
@media(max-width:530px){
    .favorites-content{grid-template-columns:1fr;}
    .favorites-content__drink{padding:.25rem;}
    .favorites-content__drink img{width:80%;}
    .modal__content{
        width:90%;padding:.75rem;
    }
    .modal__content-title{font-size:1.25rem;}
    .modal__ingre,.modal__prep{padding-bottom:3px;}
    .modal__content-ingredients,.modal__content-description{font-size:.8rem;line-height:1.4;}
    .close-x{font-size:.9rem; top:0; right:5px;}
    nav a{background-color:rgba(88, 58, 82, 0.85);}
}
